
mat-table {
    width: 100%;
    background-color: #f7fafd; /* Light background */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  

  .table-container {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  mat-header-row {
    background-color: transparent !important;
    font-weight: bold;
    color: #333; /* Darker text for contrast */
  }
  

  mat-header-cell {
    padding: 16px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd; /* Subtle bottom border */
  }
  

  mat-row {
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  
 
  mat-row:hover {
    background-color: #f1f5f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translateY(-2px);
  }
  

  mat-cell {
    padding: 16px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    border-bottom: none;
  }
  

  .color-indicator {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
  }
  

  mat-paginator {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  

  .box-colored {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
  

  .list-view mat-table {
    display: block;
  }
  

  .grid-view mat-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .custom-mat-table {
    width: 100%;
    .mat-mdc-row{
        cursor: pointer;
    }
    &.card-table {
    
      tr.mat-row {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        padding: 16px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: white;
      }
  
      td.mat-cell {
        border-bottom: none;
        margin-right: 16px;
  
        &:last-child {
          margin-right: 0;
        }
      }
  
      tr.mat-header-row {
        display: none; 
      }
    }
  }

  .custom-mat-table {
    width: 100%;
    background-color: #F2F6F9;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0 8px; 
  

    .mat-header-row {
      background-color: transparent; 
      border-bottom: none; 
      box-shadow: none; 
      padding: 0px;
      margin: 0px; 
    }
  
    th {
      color: #333;
      font-weight: bold;
      padding: 12px;
      text-align: left;
      border-bottom: none;
    }
  
    tr {
      background-color: white;
      border-radius: 8px;
      transition: background-color 0.3s ease;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  
      &:hover {
        background-color: #F9FAFC;
        cursor: pointer;
      }
    }
  
    td {
      padding: 16px;
      font-size: 14px;
      border-bottom: none;
    }

    tr:first-child td:first-child {
      border-top-left-radius: 8px;
    }
    
    tr:first-child td:last-child {
      border-top-right-radius: 8px;
    }
    
    tr:last-child td:first-child {
      border-bottom-left-radius: 8px;
    }
    
    tr:last-child td:last-child {
      border-bottom-right-radius: 8px;
    }
  }
  .mat-mdc-header-row{
    background-color: transparent!important;
    border-radius: 0px!important;
    box-shadow: none!important;
    padding: 0px!important;
    margin:0px!important;
  }
  
  .color-indicator {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
  }

  
  

  .color-indicator {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
  }
  