.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: start;
    justify-content: start;
  }
  
  .item-card {
    overflow: hidden;
    width: 300px;
    background-color: white;
  }
  
  .color-indicator {
    width: 100%;
    height: 5px;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  
  .item-card {
    width: 150px; 
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .color-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cursor{
    cursor: pointer;
  }
  
  .color-indicator {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  .mat-mdc-card-content:last-child {
     padding-bottom: 5px; 
  }
  .mrg-top-30{
    margin-top: 30px;
  }
  
  .item-name {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    text-align: center;
  }
  
  .centerize {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

.card-footer {
    width: 100%;
    background-color: #f0f0f0;
    padding: 8px 0;
    text-align: center;
  }
  .cursor{
    cursor: pointer;
  }
  
  