<mat-sidenav-container class="dashboard-container">
    <mat-sidenav mode="side" position="end" [opened]="isSidenavOpen()">
        <button mat-icon-button (click)="closeSidenav()">
            <mat-icon>close</mat-icon>
          </button>
        <mat-toolbar>Create New</mat-toolbar>
      
      <div class="sidenav-content">
        <div class="input-row">
          <mat-form-field appearance="outline" class="name-field">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Type title...">
          </mat-form-field>

          <mat-form-field appearance="outline" class="color-select-field">
            <mat-label>Choose a Color</mat-label>
            <mat-select [(value)]="selectedColor">
              <mat-option *ngFor="let color of colorOptions" [value]="color.value">
                <div class="color-indicator" [style.background-color]="color.value"></div>
              </mat-option>
              <mat-select-trigger>
                <div class="selected-color-display" [style.background-color]="selectedColor"></div>
                <span style="visibility: hidden;">{{ selectedColor }}</span>
              </mat-select-trigger>
            </mat-select>
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Tag Description</mat-label>
          <textarea matInput placeholder="Type tag description..."></textarea>
        </mat-form-field>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="dashboard">
        <div class="management-tool-header">
          <div class="url-input-container width-400">
            <input type="text" class="url-input" placeholder="URL" />
            <button class="go-button">GO</button>
          </div>
  
          <div class="view-actions">
            <div class="tool-title">Management Tool</div>
            <div class="view-icons">
              <button class="grid-view-icon" (click)="toggleViewType()">
                <img [src]="'assets/list.svg'" />
              </button>
              <button class="list-view-icon" (click)="toggleViewType()">
                <img src="assets/title.svg" />
              </button>
              <button class="add-icon" (click)="toggleSidenav()">
                <img src="assets/title.svg" />
              </button>
            </div>
          </div>
  
          <div class="url-input-container">
            <input
              [(ngModel)]="filterInputValue"
              (ngModelChange)="onFilterInputChange()"
              placeholder="Find by name..."
              class="url-input"
            />
          </div>
  
          <app-table-data
            *ngIf="viewType() === 'list'"
            [items]="filteredItems"
          ></app-table-data>
  
          <app-card-data
            *ngIf="viewType() === 'grid'"
            [items]="filteredItems"
          ></app-card-data>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  